.home-style {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    color: #333745;
}

.home-style>p {
    width: 300px;
}

.pic {
    width: 500px;
    height: auto;
}

